<p id="notice"><%= notice %></p>
<p>
<table>
  <tbody>
    <strong>Commenter:</strong>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.commenter %></td>
         <!--  <td><%= comment.body %></td> -->
          <td><%= link_to 'Show', article %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
  </tbody>
</table>
</p>

<p>
  <strong>Comment:</strong>
  <%= comments.body %>
</p>



<p>
  <%= link_to 'Destroy Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>

